@import "../../style/mixin";

#error {
  .container {
    width: 100%;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    .tip {
      @include px2rem(margin-top, 40);
      @include px2rem(font-size, 35);
    }
  }

}